/* #box {
  width: 100px;
  height: 200px;
  background-color: rgb(0, 255, 34);
  font-weight: bold;
}
body {
  background-color: red;
} */
/* 
.hello {
  color: blue;
}

.mum {
  background-color: green;
} 

/* div {
  height: 100px;
  width: 100px;
  background-color: green;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

/*  white and black
.dark {
  background-color: black;
  color: aliceblue;
}
.light {
  background-color: white;
  color: black;
}
.heyy {
  color: blue;
}
.mum {
  color: green;
} */
